/* reset css */
*,
a {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* end reset css */

/* body */
body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
}

/* end body */

/* Container */
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

/* End container */

/* header */

header {
  background: #202052;
  color: #ffffff;
  padding: 16px 0;
}

header .container h1,
nav a {
  font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
}

header nav a {
  display: inline;
  margin-left: 16px;
  font-size: 18px;
  color: #ffffff;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* end header */

/* main */

main {
  padding: 16px 0;
  background: hwb(240 98% 1.6% / 0.37);
  color: #202052;
}

main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .container{
  align-items: flex-start;
}

section{
  padding: 24px 0;
}

#sobre  img{
  margin-right: 32px;
}

aside h2 {
  font-family: "Revalia", serif;
  font-weight: 400;
  font-style: normal;
}

aside > h2,
aside > p {
  margin-bottom: 24px;
}

.marcas img {
  height: 24px;
}

.marcas ul li {
  list-style: none;
  display: inline;
  margin-right: 10px;
}

#contato .container{
  display: block;
}

#contato h2{
  font-family: "Revalia", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 32px;
}

.forma_contato{
  display: flex;
  justify-content: space-between;
}

section h3{
  font-family: "Revalia", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 16px;
  
}

form input, form textarea, form button {
  display: block;
  width: 320px;
  margin-bottom: 8px;
  padding: 8px;
  font-size: 18px;
}

form textarea{
  height: 180px;
  resize: none;
}

form button{
  background-color: #202052;
  color: #ecf0f1;
  border: none;
  cursor: pointer;
  font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
}

ul li{
  list-style: none;
  display: inline;
  margin-right: 8px;
}

a img{
  height: 24px;
}

/* end main */

/* footer */
footer{
  background: #202052;
  color: #ecf0f1;
  padding: 16px 0;
  text-align: center;
}
/* end footer */
